body{
    display: grid;
    width: 100%;    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    @media (width >= 40em) {
        gap: 1rem;
    }
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

h1{
    font-size: 3rem;
    @media (width >= 40em) {
        font-size: 4rem;
    }
    color: sienna;
}

.playground{
    display: flex;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    border: 5px solid sienna;
    padding: 5px;
}

.select-sign{
    margin-bottom: 5rem;   
    width: 15rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-btns{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;    
}

.select-sign, .settings-btns button{
    background-color: sienna;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 0.8rem;
    padding: 0.5rem;
    height: 2rem;         
    font-weight: bold;    
    @media (width >= 40em) {
        font-size: 1rem;
        padding: 1rem;
        height: 3rem;          
    }
}

.winner{
    height: 3rem;
}

#winner-lbl{
    font-size: 2rem;
    font-weight: bolder;
    font-style: italic;
    color: darkgreen;
}

#start-btn, #reset-btn, #console-version{
    width: 5rem;
    @media (width >= 40em) {
        width: 7rem;
    }
}

.board-btns{
    width: 5rem;
    height: 5rem;
    @media (width >= 40em) {
        width: 7rem;
        height: 7rem;
    }
    border: none;
    background-color: darkgreen;
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

.board-btns:hover{
    background-color: cadetblue;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    @media (width >= 40em) {
        align-items: normal;
    }
    position: fixed;    
    padding-top: 1rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(95, 158, 160, 0.4);
}

.model-content{
    background-color: white;
    border: 7px solid sienna;
    color: darkgreen;
    padding: 2rem;
    border-radius: 3rem;
    width: 14rem;
    margin-top: 2rem;
    height: 23rem;
    @media (width >= 40em) {
        width: 30rem;
        height: 20rem;
        gap:3rem;
        margin-top: 12rem;
    }    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    gap:0.5rem;
}

#user-name{
    width: 80%;
    height: 2rem;
    border: 2px solid sienna;
    color: darkgreen;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: medium;
    @media (width >= 40em) {
        margin-right: 0.5rem;
    }    
}

#btn-get-usr{
    height: 3rem;
    width: 70%;
    @media (width >= 40em) {
        width: 7rem;
    }
    border: none;
    color: white;
    background-color: darkgreen;
    border-radius: 0.5rem;
    padding: 0.7rem;
    align-items: center;
    font-size: medium;
    font-weight: bold;
}

#btn-get-usr:hover{
    border: 2px solid white;
}

#msg{
    height: 7.6rem;
}

#sign{
    height:15rem;
    display: flex;
    flex-direction: column;
}

.symbol{
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.25rem;
    align-items: center;
    font-size: medium;
    font-weight: bold;
    background-color: sienna;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}

.symbol:hover{
    border: 3px solid white;
}

#model-get-user, #model-get-sign, #message{
    z-index: -10000;
    opacity: 0;
}

.get-usr-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    width: max-content;
    @media (width >= 40em) {
        flex-direction: row;
    }
}